.portfolio-header {
    font-weight: 100;
    height: 5rem;
    position: fixed;   
    width: 100%;
    z-index: 1;
}

a.fa-anchor::before {
    content: " ";
}

.fa-anchor {
    color: white;
    text-decoration: none;
    transition: 200ms ease-in-out;    
    &:hover {
        transform: scale(1.2);        
    }
}

.portfolio-nav {
    display: flex;
    @media only screen and (max-width: 768px){
        display: none;       
    }
    .fa-home {
        font-size: 2.3rem;
        display: block;
        position: relative;
        top: 1.5rem;
        left: 1rem;
    }
  .nav-unordered-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin: 2rem 0;
    }
}

.nav-list-item {
    margin: 0 1.5rem;
    font-size: 1.2rem;
    padding-bottom: 3px;
    &:hover {
        border-bottom: 1px solid white;            
    }
    .list-item-anchor {
        color: white;
        text-decoration: none;
    }
}


.header-compact-nav-icon{
    display: inline-block;
    font-size: 60px;
    cursor: pointer;
    line-height: 1.2;
    display: none;
    height: 18px!important;
    margin: auto;
    width: 30px!important;
    position: absolute!important;
    top: 0;
    right: 25px;
    bottom: 0;
    @media only screen and (max-width: 768px){
        display: block;        
    }
}
.header-compact-nav-icon-line{
    background-color:lightgrey;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin: 0;
    position: absolute;
    transition: all 475ms cubic-bezier(.52,.01,.16,1);
    width: 30px;
    &.line-1{
        top: 0;
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
    &.line-2{
        margin-top: -1px;
        top: 50%;
    }
    &.line-3{
        bottom: 0;
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
}

.hamburger-clicked{
    .line-1{
        transform: translateY(-2px) translateX(4px) rotate(45deg);        
    }
    .line-2{
        opacity: 0;
        
    }
    .line-3{
        -webkit-transform: translateY(2px) translateX(4px) rotate(-45deg);
        transform: translateY(2px) translateX(4px) rotate(-45deg);
    }
}

.header-compact-nav-mobile-links, ul{
    display: none;    
}

.black-overlay {
    background: black;
    display: none;
    height: 100vh;
    width: 100%;
    opacity: .5;
    z-index: -1;
    position: relative;
}

.show-nav-items{
    background-color: white; 
    height: 100vh;
    left: 0;
    margin: 0;
    overflow-y: scroll;
    position: fixed;
    width: 50%;
    padding-top: 25px;
    @media only screen and (max-width: 768px){
        display: block        
    }
}

.mobile-nav-items {
    animation: slide-fade-in 1500ms cubic-bezier(0, 1, 0.58, 1) 300ms backwards;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.3em;
    line-height: 1.8;
    text-align: left;
    border-bottom: 1px solid #ff003b;
    &:nth-of-type(1){
        animation-delay: 175ms;        
    }
    &:nth-of-type(2){
        animation-delay: 275ms;        
    }
    &:nth-of-type(3){
        animation-delay: 375ms; 
    }
    &:nth-of-type(4){
        animation-delay: 375ms;
    }
    &:nth-of-type(5){
        animation-delay: 375ms;
    }
}

.list-item-anchor-mobile{
    color: #ff003b;
    text-decoration: none;
}

// Animations
@keyframes slide-fade-in{
    0%{
        opacity: 0;
        transform: translateX(-75px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);        
    }
}





