.hero-banner {
    background-image: linear-gradient(rgba(255 , 0 , 59 , 0.85), rgba( 255 , 0 , 59 , 0.85)), url('../../images/hero-banner.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 100;
    color: white;
    position: relative;
    z-index: 0;
}

.my-name , .dev-text {
    z-index: 0;
    font-weight: 100; 
    text-align: center;
    margin: 0;
    font-size: 6rem;
    position: relative;
    top: 35%;
    line-height: 8rem;        
}
.dev-text {
    font-size: 4rem;
}

.fa-arrow-down {
    font-size: 3rem;
    color: white;
    text-decoration: none;
    transition: 200ms ease-in-out; 
    &:hover {
        transform: scale(1.3) !important;        
    }
}

.arrow {
    text-align: center;
    position: relative;
    top: 55%;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@media only screen and (max-width : 660px) {
    .my-name{
        font-size: 5rem;
        top: 25%;
    }
    .dev-text {
        font-size: 3rem;
        top: 25%;
    }
}

@media only screen and (max-width : 495px) {
    .my-name{
        font-size: 4rem;
        line-height: 6rem;
    }
    .dev-text {
        font-size: 2.5rem;        
    }
}

@media only screen and (max-width : 415px) {
    .my-name{
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .dev-text {
        font-size: 2.2rem;        
    }
}

@media only screen and (max-width : 365px) {
    .my-name{
        font-size: 3rem;
    }
    .dev-text {
        font-size: 2rem;        
    }
}
