.projects-container {
    background: #f2f2f2;
    padding: 3.5rem;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;    
}

#menu {
    text-align: center;
}

.projects-top-row , .projects-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;  
}

.zoomimg {
    display: flex;
    width: 275px;
    height: 245px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
    position: relative;
}

.zoomimg:hover {
    cursor: pointer;
    background-size: 115% 115%;
}

.pomodoro {
    background-image: url("../../images/pomodoro.png");
    margin-bottom: 2rem;
}

.calculator {
    background-image: url("../../images/calculator.png");
    margin-bottom: 2rem;
}

.quoteApp {
    background-image: url("../../images/quoteApp.png");
    margin-bottom: 2rem;
}

.rps {
    background-image: url("../../images/rps.png");
    margin-bottom: 2rem;
}

.weatherApp {
    background-image: url("../../images/weather.png");
    margin-bottom: 2rem;
}

.energy {
    background-image: url("../../images/energy.png");
    margin-bottom: 2rem;
}

.form {
    background-image: url("../../images/form.png");
    margin-bottom: 2rem;
}

.yelp {
    background-image: url("../../images/yelp.png");
    margin-bottom: 2rem;    
}

.zoomimg:after {
    position: absolute;
    background-color: rgba(0,0,0,.55);
    content: 'View project';
    padding-top: 110px;
    font-weight: 100;
    font-size: 2em;
    color: #fff;
    top:  0;
    left: 0;
    width: 275px;
    height: 245px;
    opacity: 0;
    transition: opacity .5s linear;
    box-sizing: border-box;
}
.zoomimg:hover:after {
    opacity: 1;
}

.projects-text {
    text-align: center;
    font-weight: 100;
    color: black;
    position: relative;
    bottom: 2rem;
    font-size: 2.5rem;
    margin: 0;
}

