.skills-container{
    padding: 2rem;
    text-align:center;   
    .skills-text, .skills-paragraph{
        font-weight: 100;
        font-size: 2.2rem;        
    }
    .skills-paragraph{
        font-size: 1.5rem;                
    }
}

.skills-icons-container{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.fa-html5, .fa-css3-alt,
.fa-js, .fa-wordpress-simple,
.fa-github, .fa-gem {
    font-size: 5rem;
    font-weight: 100;
    color:#ff003b;
}

.fa-html5, .fa-css3-alt, .fa-js{
    font-size: 5.5rem;    
}

@media only screen and (max-width: 1100px){
    .skills-icons-container{
        width: 75%;
    }
}

@media only screen and (max-width: 1000px){
    .skills-icons-container{
        width: 85%;
    }
}

@media only screen and (max-width: 768px){
    .skills-icons-container{
        width: 95%;
    }
}

@media only screen and (max-width: 575px){
    .skills-icons-container{
        width: 100%;
    }
}

@media only screen and (max-width: 510px){
    .skills-icons-container{
        width: 10rem;
        height: 35rem;
        flex-wrap: wrap;
    }

    .fa-html5, .fa-css3-alt,
    .fa-js, .fa-wordpress-simple,
    .fa-github, .fa-gem {
        font-size: 5.5rem;
    }
}